:root {
  color-scheme: dark;
}

body {
  background-color: #2a292c;
}



/* HERO --------------------------------------------------*/
.hero-div {
  background-image: url(/Deering.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 850px;
  padding-top: 5rem;
  padding-bottom: 4rem;
}



.ternary-card {
  border: 1px solid #dedede;
  height: 15rem;
  width: 5rem;
  margin: 25px auto;
  padding: 8px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
}

.tc-img {
  margin: 0 0;
  height: 100%;
  width: 25%;
  object-fit: cover;
  float: left;
  flex-shrink: 0;
  border-radius: 15px;
}

.tc-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 20px;
}

/* QUATERNARY ----------------------------------------------*/
.quaternary-div {
  background-color: #443161;
  height: 65vh;
  min-height: 350px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.quat-background-img {
  display: block;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#form-background-img {
  display: block;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* FOOTER -------------------------------------------------*/
.footer-div {
  font-size: 0.9em;
  padding: 20px;
}

.footer-list {
  list-style: none;
  padding: 0px;
}

.fl-top {
  font-weight: 700;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  font-weight: bold;
  transition-duration: 0.2s;
}

.line {
  height: 1px;
  background-color: #dedede;
  width: 100vw;
}

.myfw {
  font-weight: 100;
}

.fixie {
  padding-bottom: 0;
  margin-bottom: 0;
}

.myfw2 {
  font-weight: 300;
  opacity: 80%;
}