.land-card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 1.2rem;
}

.land-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 1000px) {
  .land-card {
    font-size: 1em;
  }
}

.cardtitle {
  height: 3.5em;
  font-weight: 400;
}

.cardbody {
  height: 50%;
  font-weight: 200;
}